


h1 {
    color: red;
    border-style: double;
    padding: 30px;
    margin: 0px;
}


/* .myHeaderClass {
   color: green;
   text-align: center;
}

#header1 {
    color: blue;
    width: 400px;
    margin-bottom: 100px;
}
 #header2 {
    position: relative;
    left: -10%;
 } */
