header { 
    /* display: flex; */
    border: 5px solid orange
}
main {
    /* display: flex; */
  flex-direction: row;
  border: 5px solid blue
}
main > * {
    margin: 10rem;
}

#dashboard {
    /* display: flex; */
  flex-direction: row;
  border: 5px solid green
}

.item-list-container {
    /* display: flex; */
    flex-wrap: wrap;
    border: 3px solid purple;
  }